<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar navbar-default" role="navigation">
	<div class="container">
      <div class="navbar-header">
        <%= link_to "sample app", '#', class: 'navbar-brand', id: "logo" %>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
